#interface>nav {
	display: flex;
	justify-content: space-between;
	background-color: hsl(var(--h), var(--s), calc(var(--l) - 10%));
	ul {
		list-style: none;
		display: flex;

		li {
			display: flex;

			a {
				flex-grow: 1;
				display: flex;
				padding: 6px 12px;

				&:hover {
					text-decoration: underline;
					background: hsl(var(--h), var(--s), calc(var(--l) - 25%));
				}
			}
		}
	}
}